/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/


$primary-color: white;
$secondary-color: purple;
$accent-color: #0090ff;


@import 'colors';

/****High-level declarations****/

img {
    max-width: 100%;
    padding:1%;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 1.2rem;
    opacity: .8;
}
  
  ul.features-list > li {
    line-height: 200%;
    font-size: 1.5rem;
    list-style-type: none;
  }

p {
    font-size: 1.3rem;
}
  
.card {
    border-color: transparent;
  }

  
/*--Color declarations--*/




/*****Low level declarations*****/


/*------navigation-------*/





/*basic nav*/
.basic-header {
  font-size: 1.4rem;
}

.basic-header:hover {
background-color: $accent-color;

/*{% if site.hamburger-nav %}*/ 
border-radius: 0%;
/*{% else %}*/
border-radius: 10%;
/*{% endif %}*/

transition-duration: 0.3s;
}

li.basic-header > a.nav-link:hover {
  color:white !important; 
}

.contact-info {
  font-size: 0.9rem;
  line-height: 40%;
}



/*Hamburger-nav*/


/*{% if site.hamburger-nav %}*/ 
@import 'hamburger-nav';

/*{% endif %}*/



/*card nav*/
nav { 


 /*{% if site.card-nav %}*/ 

 .card-head{
  border: 2px solid black;
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
 }

/* else */

.card-head{
  /*{% if site.hamburger-nav %}*/ 
  border: 2px solid, transparent;
  border-radius: 0% !important;

  /* {% else %} */
  border: 2px solid, rgb(82, 82, 82);
  /*{% endif %}*/
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
  z-index: 3;
 }

/* {% endif %} */

 .header {
  font-size: 2rem;
 }


 .Icon {
  width:40px;
  height:40px;
 }

 @keyframes linkhover {

  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
 }
}

@media only screen and (max-width: 899px) {

/* {% if site.hamburger-nav %}*/
  .navPC {
    display:visible;
  }

/* {% else %}*/
  .navPC {
    display:none;
  }
/*{% endif %}*/
}
@media only screen and (min-width: 900px) {

  .navResponsive {
    display:none;
  }
}


/**Home Page**/

/*Main title*/
.backpic {
  background-image: url(/images/glasses.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 0%;
  }

.mainTitle {
  background-color: black;
  opacity: 0.7;
}

.portTitle,
.subtitle {
    font-weight: bolder;
    font-size: 32px;
    word-spacing: 5px;
    padding: 2%;
} 

@media only screen and (max-width: 720px) {
    .title {
        font-size:3rem;
    }
    .subtitle {
        font-size: 1.5rem;
        padding:3%;
    }
    .description {
      display:none;
    }
}

@media only screen and (max-width: 496px) {
    .title {
        font-size:2rem;
        padding:1%;
    }

    .subtitle {
        font-size: 1.3rem;
    }
}


/*Features*/


.feature-icon {
    width: 90px;
    height: 90px;
    margin-top:2%; 
    margin-bottom:5%;
  }

  #f1_container {
    position: relative;
    margin: 10px auto;
    height: 400px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    /*copied from bootstrap col-md-4*/
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
    position:relative;
    width:100%;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%;

    /*normal rules for f1_card*/
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
  }


  .blueprint {
    background-image: url(/images/blueprints.jpg);
  }

  .sportsCar {
    background-image: url(/images/sportsCar.jpg);
  }

  .welder {
    background-image: url(/images/welding.jpg);
  }
 


.blueprint,
.sportsCar,
.welder {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 1276px) {

    .about-pc {
        display: none;
    }

}

@media only screen and (min-width: 1276px) {

  .about-responsive {
      display: none;
  }

}


/*About*/

ul.features-list {
  list-style: none;
}

ul.features-list li:before {
  content: '✓';
}

.aboutPic {
  background-image: url(/images/cat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


/*Portfolio*/

.portTitle {
  color:purple;
  font-size:4rem;
  font-weight: bolder;
}

  /*Portfolio*/

  .siteLink {
    background-color: #0077B5;
  }
  
  .gitlabLink {
    background-color: #ff7200;
  }
  
  .siteLink,
  .gitlabLink {
    padding: 1%;
    margin: 1%;
    border-radius: 20%;
    font-size:  1.3rem;
  }
  

  /*Blog*/

.catBack {
  background-image: url(/images/oil.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.homePost {
  overflow:hidden;
}

.bFloat {
  position: relative;
  top: 83%;
  overflow:hidden;
  transition: .5s;
}


.bFloat:hover {
  top:55%;
  transition: .5s;
}


.mainFloat {
  position: relative;
  top: 90%;
  overflow:hidden;
  transition: .5s;
}

.mainFloat:hover {
  top:75%;
  transition: .5s;
}



.postOverlay {
  padding:2%;
}


.author-pic {
  width:60%;
  border-radius:24px;
}

.year {
    width:30%;
}

.btn:hover {
    text-decoration: none;
    color:white;
}

.blog-border {
    border: 1px solid #cccccc;
    padding:2%;
}

.topicsCard {
  padding:1%;
}

/* --post-- */

.postTitle {
  font-size: 4rem;
  font-weight: bold;
}

/* --sidebar-- */

.sidePic {
  border-radius: 50%;
  width:200px;
}

.sticky {
  position:fixed;
  top: 10%;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/*Contact Form*/  
  .contact {
    border: 3px solid #0090ff;
    padding:6%;
  }


/* share widget */

.fa-facebook {
    color:#4267B2;
}

.fa-twitter {
    color: #38A1F3;
}

.fa-pinterest {
    color: red;
}

.fa-reddit {
    color:#FF4301;
}

.fa-linkedin {
    color:#0077B5;
}

.fa-envelope-square {
    color: red;
}
