
<!--List based horizontal navigation bar-->

<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#1">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#2">About</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#3">Features</a>
            </li>
            
            <li class="nav-item basic-header">
                <a class="nav-link text-center white" href="#4">Portfolio</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#5">Contact</a>
            </li>
        </ul>
        </div>

        <span class="navbar-text">
        <p class="contact-info">Phone: XXX-XXX-XXXX</p>
        <p class="contact-info">Email: example@gmail.com</p>
    </span>
      </nav>