<div class="catBack col-md-12">

        <div class="d-flex p-4 bg-transparent"></div>
    
    <div class="d-flex justify-content-center col-md-12">
    <div class="card-deck col-md-9">
    
    <div class="card col-md-4 backBlue topicsCard">
    <a href="/cat1"><h2 class="text-center">Documentation</h2></a>
    </div>
    
    <div class="card col-md-4 backPurple topicsCard">
    <a href="/cat2"><h2 class="text-center">Libraries</h2></a>
    </div>
    
    <div class="card col-md-4 backBlue topicsCard">
    <a href="/cat3"><h2 class="text-center">Introduction</h2></a>
    </div>
    </div>
    </div>
    <div class="d-flex p-4 bg-transparent"></div>
    </div>
    