

<div class="pos-f-t">

    <nav class="navbar-light">
      

        <button class="navbar-toggler" type="button" 
      data-toggle="collapse" 
      data-target="#navbarToggleExternalContent" 
      aria-controls="navbarToggleExternalContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      <div class="d-flex p-4 bg-transparent description"></div>
    </nav>


    <div class="collapse card-nav" id="navbarToggleExternalContent">
      
      {% include navbars/card-nav.html %}
      
          </div>

  </div>