@charset "UTF-8";
/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/
/****High-level declarations****/
.test {
  color: green; }

img {
  max-width: 100%;
  padding: 1%; }

a:hover {
  text-decoration: none; }

h3 {
  font-size: 1.2rem;
  opacity: .8; }

ul.features-list > li {
  line-height: 200%;
  font-size: 1.5rem;
  list-style-type: none; }

p {
  font-size: 1.3rem; }

.card {
  border-color: transparent; }

/*--Color declarations--*/
nav,
.header,
.solutions-card,
.problem-card {
  background-color: white;
  color: #5b5a5a; }

a:hover,
.card-head {
  color: black; }

.header {
  background-color: transparent; }

.feature-background,
.copyright,
.btn,
.features,
.feature-card,
.text-white {
  color: white; }

.backPurple,
.footer-card,
.solutions-and-problems,
.feature-card,
.btn-primary {
  background-color: purple;
  border: 0px solid transparent; }

.feature-background,
body {
  background-color: white; }

a,
a:hover,
h5 > button.btn:hover,
.btn-link,
.post-title,
.solutions-and-problems,
.features,
.title {
  color: 0; }

a.white:hover {
  color: white !important; }

.post-date,
.subtitle {
  color: white; }

.title {
  color: white; }

.backBlue,
.SEO {
  background-color: #0090ff; }

/*****Low level declarations*****/
/*navigation*/
.hamburger-nav {
  background-color: white; }

/*basic header*/
.basic-header {
  font-size: 1.4rem; }

.basic-header:hover {
  background-color: #0090ff;
  border-radius: 10%;
  transition-duration: 0.3s; }

li.basic-header > a.nav-link:hover {
  color: black !important; }

.contact-info {
  font-size: 0.9rem;
  line-height: 40%; }

/*card nav*/
.card-head {
  border: 2px solid #525252;
  opacity: .5;
  border-top: transparent;
  padding-top: 2%; }

.header {
  font-size: 2rem; }

.Icon {
  width: 40px;
  height: 40px; }

@keyframes linkhover {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/**Home Page**/
/*Main title*/
.backpic {
  background-image: url(/images/glasses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0%; }

.mainTitle {
  background-color: black;
  opacity: 0.7; }

.portTitle,
.subtitle {
  font-weight: bolder;
  font-size: 32px;
  word-spacing: 5px;
  padding: 2%; }

@media only screen and (max-width: 720px) {
  .title {
    font-size: 3rem; }

  .subtitle {
    font-size: 1.5rem;
    padding: 3%; } }
@media only screen and (max-width: 496px) {
  .title {
    font-size: 2rem;
    padding: 1%; }

  .subtitle {
    font-size: 1.3rem; } }
@media only screen and (max-width: 900px) {
  .description {
    display: none; } }
/*Features*/
.feature-icon {
  width: 90px;
  height: 90px;
  margin-top: 2%;
  margin-bottom: 5%; }

#f1_container {
  position: relative;
  margin: 10px auto;
  height: 400px;
  z-index: 1; }

#f1_container {
  perspective: 1000; }

#f1_card {
  /*copied from bootstrap col-md-4*/
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  /*normal rules for f1_card*/
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%; }

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center; }

.blueprint {
  background-image: url(/images/blueprints.jpg); }

.sportsCar {
  background-image: url(/images/sportsCar.jpg); }

.welder {
  background-image: url(/images/welding.jpg); }

.blueprint,
.sportsCar,
.welder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@media only screen and (max-width: 1276px) {
  .about-pc {
    display: none; } }
@media only screen and (min-width: 1276px) {
  .about-responsive {
    display: none; } }
/*About*/
ul.features-list {
  list-style: none; }

ul.features-list li:before {
  content: '✓'; }

.aboutPic {
  background-image: url(/images/cat.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Portfolio*/
.portTitle {
  color: purple;
  font-size: 4rem;
  font-weight: bolder; }

/*Portfolio*/
.siteLink {
  background-color: #0077B5; }

.gitlabLink {
  background-color: #ff7200; }

.siteLink,
.gitlabLink {
  padding: 1%;
  margin: 1%;
  border-radius: 20%;
  font-size: 1.3rem; }

/*Blog*/
.author-pic {
  width: 60%;
  border-radius: 24px; }

.year {
  width: 30%; }

.btn:hover {
  text-decoration: none;
  color: white; }

.blog-border {
  border: 1px solid #cccccc;
  padding: 2%; }

/*Contact Form*/
.contact {
  border: 3px solid #0090ff;
  padding: 6%; }

/* share widget */
.fa-facebook {
  color: #4267B2; }

.fa-twitter {
  color: #38A1F3; }

.fa-pinterest {
  color: red; }

.fa-reddit {
  color: #FF4301; }

.fa-linkedin {
  color: #0077B5; }

.fa-envelope-square {
  color: red; }

/*# sourceMappingURL=test.css.map */
