{% include head.html %}


<div id="1" class="navPC">
        {% if site.hamburger-nav %}
           {% include navbars/hamburger-nav.html %}
        
        {% elsif site.card-nav %}
            {% include navbars/card-nav.html%}
        
        {% else %}
            {% include navbars/basic-nav.html %}
        
        {% endif %}
        
        </div>
        
        
        <div class="navResponsive">
                {% include navbars/hamburger-nav.html %}
        </div>


<!--The contact form is a partial so that you can place it wherever you want.-->
{% include contact-form.html%}
 
{% include footer.html %}