<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->


{% include head.html %}


<div id="1" class="navPC">
{% if site.hamburger-nav %}
   {% include navbars/hamburger-nav.html %}

{% elsif site.card-nav %}
    {% include navbars/card-nav.html%}

{% else %}
    {% include navbars/basic-nav.html %}

{% endif %}

</div>


<div class="navResponsive">
        {% include navbars/hamburger-nav.html %}
</div>

<div class="backpic">

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Main Title-->

<div class="d-flex justify-content-center col-md-12">
<div class="card col-md-6 mainTitle">
    <h1 class="display-3 title text-center">
     MSS Arizona</h1>
    <h2 class="text-center subtitle">
     A modular static site template
    </h2>

</div>
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

</div>

<div id="2" class="about-pc">
{% include /modules/about-flip-cards.html %}
</div>

<div id="2" class="about-responsive">
{% include /modules/about-basic.html %}
</div>

<div id="3">
{% include features.html %}
</div>

<div id="4">
{% include portfolio.html %}
</div>

<div id="5">
{% include contact-form.html %}
</div>

{% include footer.html %}